<!-- <div class="div-calendar"> -->
    <div class="datepicker">
        <div class="datepicker-title">
          <span class="datepicker-mounth">Junho</span>
          /
          <span class="datepicker-year">2022</span>
        </div>
        <table class="datepicker-calendar">
          <thead>
            <tr>
              <th class="datepicker-final-semana"><span title="Domingo">D</span></th>
              <th><span title="Segunda">S</span></th>
              <th><span title="Terça">T</span></th>
              <th><span title="Quarta">Q</span></th>
              <th><span title="Quinta">Q</span></th>
              <th><span title="Sexta">S</span></th>
              <th class="datepicker-final-semana"><span title="Sábado">S</span></th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
            <tr>
              <td class="datepicker-final-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="dia-semana"><a href="#"></a></td>
              <td class="datepicker-final-semana"><a href="#"></a></td>
            </tr>
    
          </tbody>
        </table>
      </div>
<!-- </div> -->