<section>
    <nav class="side-menu">
        <div class="drop-slide">
            <div>                
                <span class="material-symbols-outlined">monetization_on</span>
                <label class="title-menu">Financeiro</label>
            </div>
            <span class="material-symbols-outlined drop-icon">expand_more</span>
            <input type="checkbox" id="drop-menu-check">
        </div>
        <ul class="slide">
            <li class="slide-item"><a href="/financeiro/novo-fechamento/">Novo fechamento</a></li>
            <li class="slide-item"><a href="/financeiro/fechamentos/">Fechamentos</a></li>
            <li class="slide-item"><a href="">Notas Fiscais e recibos</a></li>
        </ul>
        <div class="drop-slide">
            <div>
                <span class="material-symbols-outlined">group</span>
                <label class="title-menu">Membros</label>
            </div>
            <span class="material-symbols-outlined drop-icon">expand_more</span>
            <input type="checkbox" id="drop-menu-check">
        </div>
        <ul class="slide">
            <li class="slide-item"><a href="">Lista de membros</a></li>
            <li class="slide-item"><a href="">Cadastrar membro</a></li>
        </ul>
    </nav>

</section>
<!-- <script src="/javascripts/script.js"></script> -->