<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="screen">
      <%- include('./partials/side-menu') %>
      <div class="fechamentos">
        <div class="dataLancamento">
          <label for="">Data: </label>
          <div class="teste">
            <input type="text" class="dataLancamento">
            <div class="testeteste">

              <div class="datepicker">
                <div class="datepicker-title">
                  <span class="datepicker-mounth">Junho</span>
                  /
                  <span class="datepicker-year">2022</span>
                </div>
                <table class="datepicker-calendar">
                  <thead>
                    <tr>
                      <th class="datepicker-final-semana"><span title="Domingo">D</span></th>
                      <th><span title="Segunda">S</span></th>
                      <th><span title="Terça">T</span></th>
                      <th><span title="Quarta">Q</span></th>
                      <th><span title="Quinta">Q</span></th>
                      <th><span title="Sexta">S</span></th>
                      <th class="datepicker-final-semana"><span title="Sábado">S</span></th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
                    <tr>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="dia-semana"><a href="#"></a></td>
                      <td class="datepicker-final-semana"><a href="#"></a></td>
                    </tr>
      
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div>
          <label for="">teste</label>
          <input type="text">
        </div>
      </div>
    </div>
    <script src="/javascripts/calendar.js"></script>
    <script src="/javascripts/side-menu.js"></script>
  </body>