<%- include('./partials/head') %>
  <body>
    <%- include('./partials/header') %>
    <div class="screen">
      <%- include('./partials/side-menu') %>
      <section class="tela-inicial">
        <p>Olá <b><i>Manuel,</i></b></p>
        <p>Seja bem vindo à Secretaria!</p>
      </section>
    </div>
    <script src="/javascripts/side-menu.js"></script>
  </body>
</html>
