<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="side-menu">
        <div class="title-menu">
            <p>IPCN</p>
            <!-- <img src="/images/emblema-IPCN.png" alt="logo"> -->
        </div>
        <ul>            
            <li>
                <!-- <img src="/images/icon-finances.png" alt="icon-finances"> -->
                <span class="material-symbols-outlined">monetization_on</span>
                <a href="">Financeiro</a>
                <ul class="sub-menu">
                    <li><a href="">Novo fechamento</a></li>
                    <li><a href="">Fechamentos</a></li>
                    <li><a href="">Notas Fiscais e recibos</a></li>
                </ul>
            </li>
            <li>
                <span class="material-symbols-outlined">group</span>
                <a href="">Membros</a>
                <ul class="sub-menu">
                    <li><a href="">Lista de membros</a></li>
                    <li><a href="">Cadastrar membro</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</body>
</html>